DEBUG = True
SECRET_KEY = 'development key'

#DATABASE = 'mysql+oursql://piratehr:piratehr@localhost/piratehr'
#DATABASE = 'postgresql://piratehr:piratehr@localhost/piratehr'
DATABASE_DEBUG = False  # False, True (commands) or 'debug' (full)

