#flash { position: fixed; top: 0; left: 0; display: none; width: 100%; background: #FFFF00; font-weight: bold; border-bottom: 3px solid black; }
.page { display: none; /* Until JQuery hide/show takes over */ }
body { margin: 0; }
/*#logo { position: relative; margin-left: -150px; margin-top: -50px; }*/
#authform, #authinfo, #orglist, #orgcreateform, #orgdetails, #orgdetails_parent_organization, #orgdetails_child_organizations, #orgapplicationdivert { display: none; }
#outerlayout { background: #fff; border-radius: 10px; width: 90%; margin: auto; }
#innerlayout { margin: 10px; }
.inputfield { width: 300px; }
/*.inputsubmit { margin-left: 150px; width: 50px; }*/
#qrcode img { width: 150px; height: 150px; }
form td { padding: 1mm; }

